# tupples assignment

In [4]:
#finding element frequency in tuple
t=(4,5,4,5,6,6,5)
t.count(4)

2

In [5]:
t.count(5)

3

In [6]:
t.count(6)

2

In [10]:
#phython program to sort a list of tuples alphabatically
l1=[("aaaa",28),("aa",30),("bab",29),("bb",21),("csa",20)]
l1.sort()
l1

[('aa', 30), ('aaaa', 28), ('bab', 29), ('bb', 21), ('csa', 20)]

In [26]:
#((1,1,-5),(30,-15,26),(81,-60,-39),(-10,2,3))
t1=(1,1,-5)
t2=(30,-15,26)
t3=(81,-60,-39)
t4=(-10,2,3)
sum1=(t1[0]+t1[1]+t2[2])
sum2=(t2[0]+t2[1]+t2[2])
sum3=(t3[0]+t3[1]+t3[2])
print(sum1)
print(sum2)
print(sum3)
average1=(sum1)/3
print(average1)
average2=(sum2)/3
print(average2)
average3=(sum3)/3
print(average3)

28
41
-18
9.333333333333334
13.666666666666666
-6.0